annotated-types
anthropic
anyio
certifi
charset-normalizer
distro
easyocr
exceptiongroup
filelock
fsspec
h11
httpcore
httpx
huggingface-hub
idna
imageio
Jinja2
lazy-loader
MarkupSafe
MouseInfo
mpmath
networkx
ninja
numpy
openai
opencv-python-headless
packaging
pillow
PyAutoGUI
pyclipper
pydantic
pydantic-core
PyGetWindow
PyMsgBox
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyperclip
PyRect
PyScreeze
python-bidi
python-dotenv
pytweening
PyYAML
requests
rubicon-objc
scikit-image
scipy
shapely
six
sniffio
sympy
tifffile
tokenizers
torch
torchvision
tqdm
typing-extensions
urllib3
